/* The main container for the App component */
.App {
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border: 4px solid #E81828; 
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Using the Phhillies colors */
h1 {
  color: #E81828; 
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px #002D62; 
}

h2 {
  color: #002D62; 
  font-size: 1.8rem;
  margin: 1rem 0;
}

h5 {
  color: #333;
  font-weight: normal;
}


.App p {
  font-size: 1.1rem;
}

.App p.error {
  color: red;
  font-weight: bold;
}

